.weather-info-container {
  margin-top: 550px;
  width: 800px;
  text-align: center;
  color: white;
  p{
    margin: 0;
  }
  .weather-info {
    display: flex;
    justify-content: center;
    align-items: center;
    .temp {
      font-size: 60px;
      font-weight: 500;
      margin-right: 16px;
    }
    .city-name {
      font-size: 40px;
      margin-right: 16px;
    }
    .icon{
      font-size: 40px;
    }
  }
}
