<div class="weather-info-container">
    <div v-if="weather" class="weather-info">
        <p class="temp">{{ weather.main.temp }}&deg;</p>
        <div>
            <p class="city-name">{{ weather.name }}</p>  
            <p class="date">{{ date }}</p>
        </div>
        <div>
            <p class="icon" v-if="weather.weather[0].main === 'Clouds'"> <b-icon-clouds /></p>
            <p class="icon" v-if="weather.weather[0].main === 'Haze'"> <b-icon-cloud-haze /></p>
            <p class="icon" v-if="weather.weather[0].main === 'Clear'"> <b-icon-sun /></p>
            <p class="icon" v-if="weather.weather[0].main === 'Rain'"> <b-icon-cloud-drizzle /></p>
            <p class="icon" v-if="weather.weather[0].main === 'Snow'"> <b-icon-snow /></p>
            <p class="icon" v-if="weather.weather[0].main === 'Thunderstorm'"> <b-icon-cloud-lightning-rain /></p>
            <p class="icon" v-if="weather.weather[0].main === 'Mist'"> <b-icon-cloud-haze /></p>
            <p class="main">{{ weather.weather[0].description }}</p>
        </div>
    </div>
</div>