body{
    padding: 0;
    margin: 0;
    background-image: url('https://feeds.abplive.com/onecms/images/uploaded-images/2021/09/07/e899ff058db6d305a1713dc5afa68bbc_original.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(30px);
}