@import "../../assets/helpers";
.side-bar {
  flex-grow: 3;
  backdrop-filter: blur(30px);
  @include media-breakpoint-down(sm){
    backdrop-filter: blur(10px);
  }
  color: white;
  padding: 24px;
  .search-city-container {
    margin-bottom: 40px;
    input {
      color: white;
      width: 70%;
      background-color: inherit;
      margin-top: 40px;
      border: none;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: white;
        opacity: 1;
      }
    }
    p {
      &:hover {
        cursor: pointer;
      }
    }
  }
  .horizontal-line {
    content: " ";
    display: block;
    border-bottom: 0.5px solid #9e9e9e;
  }
  .weather-details {
    margin-top: 40px;
    .weather-details-heading {
      font-size: 20px;
      font-weight: bold;
    }
    .weather-details-item {
      display: flex;
      justify-content: space-between;
      .weather-details-value {
        font-weight: 540;
      }
    }
  }
}
