@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
.loader{
    margin: 300px auto 100px auto;
}
.home-page{
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(md) { 
        flex-direction: row;
        background-repeat: no-repeat;
        background-size: cover;
    }
    justify-content: space-between;
    height: 100vh;
   
    font-family: 'Roboto', sans-serif;
}